<ion-header color="tertiary">
 
</ion-header>

<ion-content class="ion-padding" color="tertiary">
  <div class="confirmation" color="tertiary">
    <div class="ion-text-center">

      <div class="outer-circle">
        <div class="inner-circle" color="tertiary">
          <img src="../../assets/like.png" />
        </div>
      </div>

      <h2>Confirmação</h2>
      <p>
        Você teve sucesso <br>
        na recuperação da senha
      </p>
    </div>
  </div>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Confirmar
    </ion-button>
  </ion-toolbar>
</ion-footer>
<!--<ion-footer color="tertiary" class="ion-no-border" mode="md">
  <ion-toolbar >
    <ion-button color="tertiary" expand="block" class="main-button" routerLink="/login" routerDirection="back">Voltar para login</ion-button>
  </ion-toolbar>
</ion-footer>-->
</ion-content>
