<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" fullscreen="true">
  <h1 class="title">Pix
  </h1>
  <img class="ion-text-center" src="../../assets/pix/pix-1.png" />

  <hr>

  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button routerLink="/pay" color="success" expand="block" class="button_cadastrar">Pagar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
