<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--<ion-header>
<ion-toolbar>
<ion-buttons slot="start">
  <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
    <img src="../../assets/back-dark.svg" />
  </ion-button>
</ion-buttons>

<ion-buttons slot="end">
  <ion-button>
    <ion-icon name="search-outline" color="dark"></ion-icon>
  </ion-button>
  <ion-button class="notification">
    <ion-icon name="notifications-outline" color="dark"></ion-icon>
    <span>&nbsp;</span>
  </ion-button>
</ion-buttons>
</ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-slides color="tertiary" pager="true" class="product-slider">
    <ion-slide>
      <img src="../../assets/produto-slider/prod-1.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/produto-slider/prod-2.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/produto-slider/prod-3.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/produto-slider/prod-4.png" />
    </ion-slide>
  </ion-slides>

  <div class="seperator">
    <hr>
  </div>
  <div class="ion-padding-vertical">
    <h1 class="item-name">SSD Viper</h1>

    <h4 class="price">
      R$599.90
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div color="light" class="review">
    <ion-row>

      <ion-col size="6">
        <div class="rating">
          4.5
        </div>
        Muito bom
      </ion-col>
      <ion-col size="6">
        <div color='dark' class="count">59 Reviews</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="descricao">
    <h5>Descrição</h5>
    <p class="center">
      PATRIOT Viper Gaming VPR100 RGB M.2 2280 PCIe Solid State Drive - 512GB Descrição: Transforme sua velocidade da
      luz!
      Patriot Viper Gaming está encantado para apresentar a primeira sincronização de APP RGB do mundo, de alto
      desempenho SSD M.2 PCIe Gen3x4, VPR100.
    </p>
  </div>

  <div class="descricao">
    <h5>Descrição</h5>
    <p class="center">
      PATRIOT Viper Gaming VPR100 RGB M.2 2280 PCIe Solid State Drive - 512GB Descrição: Transforme sua velocidade da
      luz!
      Patriot Viper Gaming está encantado para apresentar a primeira sincronização de APP RGB do mundo, de alto
      desempenho SSD M.2 PCIe Gen3x4, VPR100.
    </p>
  </div>

  <div class="descricao">
    <h5>Descrição</h5>
    <p class="center">
      PATRIOT Viper Gaming VPR100 RGB M.2 2280 PCIe Solid State Drive - 512GB Descrição: Transforme sua velocidade da
      luz!
      Patriot Viper Gaming está encantado para apresentar a primeira sincronização de APP RGB do mundo, de alto
      desempenho SSD M.2 PCIe Gen3x4, VPR100.
    </p>
  </div>

  <div class="descricao">
    <h5>Descrição</h5>
    <p class="center">
      PATRIOT Viper Gaming VPR100 RGB M.2 2280 PCIe Solid State Drive - 512GB Descrição: Transforme sua velocidade da
      luz!
      Patriot Viper Gaming está encantado para apresentar a primeira sincronização de APP RGB do mundo, de alto
      desempenho SSD M.2 PCIe Gen3x4, VPR100.
    </p>
  </div>

  <div class="seperator">
    <hr>
  </div>
  <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="produto">
      <ion-segment-button value="produtos">
        <ion-label>Selecione seu produto</ion-label>
      </ion-segment-button>

    </ion-segment>
  </div>


  <div class="seperator">
    <hr>
  </div>

  <div class="variation-selector">
    <div class="sizes" [class.active-variation]="activeVariacao === 'produtos'">
      <div [class.active]='selectedproduto === 1' (click)="changeProduto(1)">
       SSD
      </div>
      <div [class.active]='selectedproduto === 2' (click)="changeProduto(2)">
       PC
      </div>
      <div [class.active]='selectedproduto === 3' (click)="changeProduto(3)">
       Ryzen
      </div>
      <div [class.active]='selectedproduto === 4' (click)="changeProduto(4)">
       Game
      </div>
    </div>

    <!--<div class="colors" [class.active-variation]="activeVariacao === 'periferico'">
  <div [class.active]='selectedperiferico === 1' (click)="changePeriferico(1)">
    RYZEN 3
  </div>
  <div [class.active]='selectedperiferico === 2' (click)="changePeriferico(2)">
    RYZEN 5
  </div>
  <div [class.active]='selectedperiferico === 3' (click)="changePeriferico(3)">
    RYZEN 7
  </div>
</div>-->
  </div>

  <div class="colors" [class.active-variacao]="activeVariacao === 'periferico'"></div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="">
    </ion-col>
    <ion-toolbar>
      <ion-button expand="block" class="main-button" routerLink="/my-cart" routerDirection="forward">Adicionar ao
        carirrinho</ion-button>
    </ion-toolbar>
  </ion-row>
</ion-footer>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col routerLink="/favorite">
        <ion-button routerlink="/favorite" style="width: 69px;" size="large" fill="outline" color="danger">
          <ion-icon routerlink="/favorite" name="heart"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col routerLink="/checkout" style="text-align: center;">
        <ion-button style=" width: 203px; height: 53px;" size="large" color="danger">Comprar</ion-button>
      </ion-col>
    </ion-row>
